a {
  color: #61dafb;
}

.layout {
  color: white;
  display: flex;
  font-size: 1rem;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
}
